<!--
  Recipe List
-->
<div class="row">
    <div class="col-xs-12">

        <!-- New Recepe Button -->
        <button class="btn btn-success"
                (click)="onNewRecipe()">New Recipe</button>
        <!--// New Recepe Button -->

    </div>
</div>
<hr>
<div class="row"> 
    <div class="col-xs-12">

        <!-- Recipe Item -->
        <app-recipe-item 
            *ngFor="let recipeEl of recipes; let i = index" 
            [recipe]="recipeEl"
            [index]="i"></app-recipe-item>
        <!--// Recipe Item --> 
        
    </div>
</div>

